<div class="container" ng-controller="BlogController">
<div class="fakeimg" style="height:260%;width:150%;"><img src="getImages/blog.jpg"></div>
<button data-target="#{{blogInfo.blogId}}" class="btn btn-info" data-toggle="collapse">{{blogInfo.blogName}}</button>
	
<div id="{{blogInfo.blogId}}" class="collapse">
	{{blogInfo.blogContent}}
</div>

<div ng-repeat="comment in blogCommentData">

<div>{{comment.commentText}}-{{comment.loginname}}-{{comment.commentDate}}</div>
</div>

<div>
	Comment<textarea ng-model="blogComment.commentText"></textarea>
	<button ng-click="insertComment()">Comment</button>
</div>
</div>